@import url("../_/helpers/global.css");
  
body {
    min-height: 100vh;
    overflow: hidden;
}

body.bg-light {
    background: #AAFFDD !important;;
}

#app {
  overflow: hidden;
  margin-top: 76px;
}

/* .navbar {
    background: var(--gray-color) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
} */
